<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' type='text/css' media='screen' href='style.css'>
  <title>New song</title>
</head>
<body>
  <form method="post">
    <div>
      <label>
        Cím: <br>
        <input type="text" name="title">
      </label>
    </div>
    <div>
      <label>
        Előadó: <br>
        <input type="text" name="artist" >
      </label>
    </div>
    <div>
      <label>
        Hossz: <br>
        <input type="number" name="length">
      </label>
    </div>
    <div>
      <input type="submit" value="Új zene">
    </div>
  </form>
  <p id="hibaUzenet"><%= messages %></p>
</body>
</html>
